.titulo{
    background-color: #00234A;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    margin-bottom: 0px;
} .titulo h1{
    font-weight: bolder;
    font-size: xx-large;
}

.datos{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 55vh;
} .datos h1{
    font-size: xx-large;
    font-weight: bolder;
}


.contenido{
    width:auto;
    height: auto;

}

.btn{
    color:white;
    font-weight: 500;
    background-color: #004FA8;
    border-radius: 18px;
    border-style: none;
    width: 220px;
    height: 60px;
    font-weight: bolder;
    font-size: large;
} .text{
    width: 220px;
    height: 60px;
    background-color: #E6E6E6;
    border-radius: 25px;
    border-style: none;
    font-weight: bolder;
    padding-left: 100px;

}

/**Css de registro**/

.header img{
    width: 360px;
} .header i{
    position:absolute;
    margin: 8px;
}

.text1{
    width: 215px;
    height: 60px;
    background-color: #E6E6E6;
    border-radius: 25px;
    border-style: none;
    font-weight: bolder;
    padding-left: 15%;
    margin-bottom: 25px;

} .text1 #2{
    padding-left: 80px;
    color:aqua;
}

body{
    margin:0%;
}

/**css inicio**/

.header1{
    display:grid;
    grid-template-columns: 10% 80% 10%;
    background-color: #E6E6E6;
} .header2{
    display:grid;
    grid-template-columns: 15% 85%;
    background-color: #E6E6E6;

} .header2 h4{
    margin-top: 0px;
} .header1 h2{
    color:#00234A;
    font-weight: bolder;
}

.text2{
    border-color: #004FA8;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
    width: 260px;
    height: 40px;
    background-color: #E6E6E6;
    border-style: solid;
    color:#00234A;
    font-weight: bolder;
} #t{
    margin-left: 30px;
    color:#00234A;
} .men{
    color:#00234A;
} .us{
    color:rgb(71, 69, 69);
} #img{
    max-width: 100%;
    margin-top: 40px;
}

/*css ordenes*/

.tit{
    display:grid;
    margin-left: 30px;
    grid-template-columns: 5% 95%;
    margin-top: 15px;
    color:#00234A;
} .tit h3{
    margin-top: 0px;
    margin-left: 0px;
}   

.text3{
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
    width: 260px;
    height: 40px;
    background-color: #E6E6E6;
    border-style: none;
    color:#00234A;
    font-weight: bolder;
} #titl{
    margin-left: 30px;
    color:#00234A;
    font-weight: bolder;
}





